body
 {
      font-family: Arial;
    background-color: #fefefe;
}
 
.formulario 
{
    width: 300px;
    background: rgb(255, 255, 255);
    padding: 15px;
    margin: 50px auto;
    border: 1px solid #000000;
}

  h2 
  {
    text-align: center;
}

label 
{
    font-size: 14px;
}

input,   select
 {
    width: 100%;
     margin-bottom: 10px;
    padding: 5px;
}

   button 
{
    width: 100%;
    padding: 8px;
    background: rgb(111, 184, 208);
    border: none;
}